<%- include ('../partials/adminheader.ejs') %>
  <div class="content-wrapper">
    <div class="row">
      <!-- <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Basic Table</h4>
            <p class="card-description">
              Add class <code>.table</code>
            </p>
            <table class="table">
              <thead>
                <tr>
                  <th>Profile</th>
                  <th>VatNo.</th>
                  <th>Created</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Jacob</td>
                  <td>53275531</td>
                  <td>12 May 2017</td>
                  <td><label class="badge badge-danger">Pending</label></td>
                </tr>
                <tr>
                  <td>Messsy</td>
                  <td>53275532</td>
                  <td>15 May 2017</td>
                  <td><label class="badge badge-warning">In progress</label></td>
                </tr>
                <tr>
                  <td>John</td>
                  <td>53275533</td>
                  <td>14 May 2017</td>
                  <td><label class="badge badge-info">Fixed</label></td>
                </tr>
                <tr>
                  <td>Peter</td>
                  <td>53275534</td>
                  <td>16 May 2017</td>
                  <td><label class="badge badge-success">Completed</label></td>
                </tr>
                <tr>
                  <td>Dave</td>
                  <td>53275535</td>
                  <td>20 May 2017</td>
                  <td><label class="badge badge-warning">In progress</label></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div> -->
      <div class="col-lg-10 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">USERS LIST</h4>
          
            <table class="table table-hover">
              <thead>
                <tr style="font-size: 20px;">
                  <th>no:</th>
                  <th>NAME</th>
                  <th>EMAIL</th>
                  <th>MOBILE</th>
                  <th>STATUS</th>
                  <th>ACTIONS</th>
                  <th>userprofile</th>
                </tr>
              </thead>
              <tbody>
                <% if(users.length>0 ){

                  for(let i=1;i<=users.length;i++){ %>
                    <tr>
                      <td>
                        <%= i %>
                      </td> 
                      <td>
                        <%= users[i-1].name %>
                      </td>
                      <td>
                        <%= users[i-1].email %>
                      </td>
                      <td>
                        <%= users[i-1].mobile%>
                      </td>
                      <td>
                        <%  if (users[i-1].is_blocked==0) {%>
                          <h3>UnBlocked</h3>
                           
                            
                            <% }
                          else{%>
                            <h3>Blocked</h3>
                           
                            <%}
                          
                            %>

                      </td>
                      <td>
                      <%if(users[i-1].is_blocked==0){%>
                       
                        <button type="button" onclick="return confirm('do you want to block <%= users[i-1].name %>')" class="btn btn-gradient-warning btn-rounded btn-fw"><a href="/admin/block-user?id=<%= users[i-1]._id %>" style="color:blue; font-size: 20px;">Block</a></button>  

                      <%}
                      else{%>
                        <button type="button" onclick="return confirm('do you want to unblock <%= users[i-1].name %>')" class="btn btn-gradient-info btn-rounded btn-fw " ><a href="/admin/unblock-user?id=<%= users[i-1]._id %>" style="color:red; font-size: 20px;">Unblock</a></button>  

                      <%}
                        %>
                         
                        

                      </td>
                      <td>
                        <button type="button" class="btn btn-gradient-warning btn-rounded btn-fw"><a href="/admin/userProfile?id=<%= users[i-1]._id %>" style="color:blue; font-size: 20px;">view user</a></button>
                        </td>
                    </tr>
                    <% } } 
                    
                    else{ %>
                      <tr>
                        <td colspan="5">users not found </td>
                      </tr>
                      <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>



  <%- include ('../partials/adminFooter.ejs') %>