<%- include ('../partials/adminheader.ejs') %>

<div class="content-wrapper">
    <div class="row">
    <div class="col-1"></div>
    <div class="col-8">

        <section class="shop-details">
            <div class="product__details__pic">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__details__breadcrumb">
                                <!-- <a href="./index.html">Home</a>
                                <a href="./shop.html">Shop</a>
                                <span>Product Details</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <div class="col-lg-3 col-md-3">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
                                        <div class="product__thumb__pic set-bg" data-setbg="/assets/uploads/<%= product.image %>">
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">
                                        <div class="product__thumb__pic set-bg" data-setbg="/assets/uploads/<%= product.image %>">
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">
                                        <div class="product__thumb__pic set-bg" data-setbg="/assets/uploads/<%= product.image %>">
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">
                                        <div class="product__thumb__pic set-bg" data-setbg="/assets/uploads/<%= product.image %>">
                                            <i class="fa fa-play"></i>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div> -->
                        <div class="col-lg-6 col-md-9">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                    <div class="product__details__pic__item">
                                        <img src="/assets/uploads/<%= product.image %>" alt="" height="500px" width="500px">
                                    </div>
                                </div>
                                <div class="tab-pane" id="tabs-2" role="tabpanel">
                                    <div class="product__details__pic__item">
                                        <img src="/assets/uploads/<%= product.image %>" alt=""  height="500px" width="500px">
                                    </div>
                                </div>
                                <div class="tab-pane" id="tabs-3" role="tabpanel">
                                    <div class="product__details__pic__item">
                                        <img src="/assets/uploads/<%= product.image %>" alt=""  height="500px" width="500px">
                                    </div>
                                </div>
                                <div class="tab-pane" id="tabs-4" role="tabpanel">
                                    <div class="product__details__pic__item">
                                        <img src="/assets/uploads/<%= product.image %>" alt=""  height="500px" width="500px">
                                        <a href="https://www.youtube.com/watch?v=8PJ3_p7VqHw&list=RD8PJ3_p7VqHw&start_radio=1" class="video-popup"><i class="fa fa-play"></i></a>
                                    </div>
                                </div>
                                <h2><%= product.name %></h2>
                                <h2> ₹ <%= product.price %></h2>
                            </div>
                        </div>
                        <div class="product__details__text col-lg-6 col-md-9">
                                <h4><%= product.name %></h4>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <span> - 5 Reviews</span>
                                </div>
                                <h3><%= product.price %> <span>70.00</span></h3>
                                <h4>Coat with quilted lining and an adjustable hood. Featuring long sleeves with adjustable
                                    cuff tabs, adjustable asymmetric hem with elastic side tabs and a front zip fastening
                                with placket.</h4>
                                <div class="product__details__option">
                                    <div class="product__details__option__size">
                                        <span>Size:</span>
                                        <label for="xxl">xxl
                                            <input type="radio" id="xxl">
                                        </label>
                                        <label class="active" for="xl">xl
                                            <input type="radio" id="xl">
                                        </label>
                                        <label for="l">l
                                            <input type="radio" id="l">
                                        </label>
                                        <label for="sm">s
                                            <input type="radio" id="sm">
                                        </label>
                                    </div>
                                    <div class="product__details__option__color">
                                        <span>Color:</span>
                                        <label class="c-1" for="sp-1">
                                            <input type="radio" id="sp-1">
                                        </label>
                                        <label class="c-2" for="sp-2">
                                            <input type="radio" id="sp-2">
                                        </label>
                                        <label class="c-3" for="sp-3">
                                            <input type="radio" id="sp-3">
                                        </label>
                                        <label class="c-4" for="sp-4">
                                            <input type="radio" id="sp-4">
                                        </label>
                                        <label class="c-9" for="sp-9">
                                            <input type="radio" id="sp-9">
                                        </label>
                                    </div>
                                </div>
        
        
                                <div class="product__details__cart__option">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="1">
                                        </div>
                                    </div>
                                </div>
        
                                <!-- <div class="product__details__cart__option">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="1">
                                        </div>
                                    </div>
                                    <a href="/addtocart?id=<%= product._id %> " class="primary-btn">add to cart</a>
                                </div> -->
                                <!-- <div class="product__details__btns__option">
                                             <a href="/addToWishlist?id=<%= product._id %>"><i class="fa fa-heart"></i> add to wishlist</a>
                                    <a href="#"><i class="fa fa-exchange"></i> Add To Compare</a>
                                </div> -->
                                <div class="product__details__last__option">
                                    <h5><span>Guaranteed Safe Checkout</span></h5>
                                    <img src="img/shop-details/details-payment.png" alt="">
                                    <ul>
                                        <li><span>SKU:</span> 3812912</li>
                                        <li><span>Categories:</span> Clothes</li>
                                        <li><span>Tag:</span> Clothes, Skin, Body</li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
           
        </section>
    </div>
    <div class="col-1"></div>






<%- include ('../partials/adminFooter.ejs') %>