<%- include ('../partials/userHeader.ejs') %>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="/home">Home</a>

                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form action="#">
                                <input type="text" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <!-- <li><a href="#">Men (20)</a></li> -->
                                                    <!-- <li><a href="#">Women (20)</a></li> -->
                                                    <li><a href="/loadCategory?id=bag">Bags </a></li>
                                                    <li><a href="/loadCategory?id=watches">watches</a></li>
                                                    <li><a href="/loadCategory?id=shoes">Shoes </a></li>
                                                    <li><a href="/loadCategory?id=shirts">Shirts </a></li>
                                                    <!--   -->
                                                    <!-- <li><a href="#">Kids (20)</a></li>
                                                <li><a href="#">Kids (20)</a></li>
                                                <li><a href="#">Kids (20)</a></li> -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                    </div>
                                    <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__tags">
                                                <a href="#">Product</a>
                                                <a href="/loadCategory">Bags</a>
                                                <a href="#">Shoes</a>
                                                <a href="#">Fashio</a>
                                                <a href="#">Clothing</a>
                                                <a href="#">Hats</a>
                                                <a href="#">Accessories</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                    <select>
                                        <option value="">Low To High</option>
                                        <option value="">$0 - $55</option>
                                        <option value="">$55 - $100</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <% if(product.length>0 ){ %>

                            <%  for(let i=0;i<product.length;i++){  %>

                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg"
                                            data-setbg="/assets/uploads/<%= product[i].image %> ">

                                            <ul class="product__hover">

                                                <li><a href="/addToWishlist?id=<%= product[i]._id %> "><img
                                                            src="/assets/img/icon/heart.png" alt=""></a></li>
                                                <li><a href="/product-details?id=<%= product[i]._id %> "><img
                                                            src="/assets/img/icon/compare.png" alt=""> <span>View
                                                            Details</span></a>
                                                </li>
                                                <li><a href="/cart1?id=<%= product[i]._id %>"><img
                                                            src="/assets/img/icon/search.png" alt=""></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__item__text">
                                            <h6></h6>
                                            <a href="/addtocart?id=<%= product[i]._id %>" class="add-cart">+ Add To
                                                Cart</a>


                                            

                                            <h4><%= product[i].name %></h4>
                                            <h5>$<%= product[i].price %>
                                            </h5>
                                            <div class="product__color__select">
                                                <a href="/product-details">Details</a>
                                                <label for="pc-4">
                                                    <input type="radio" id="pc-4">
                                                </label>
                                                <label class="active black" for="pc-5">
                                                    <input type="radio" id="pc-5">
                                                </label>
                                                <label class="grey" for="pc-6">
                                                    <input type="radio" id="pc-6">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } 

                                    }
                                    else{ %>
                                    <h1>no products to show</h1>
                                    <% } %>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                <a class="active" href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <span>...</span>
                                <a href="#">21</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

    <%- include ('../partials/userFooter.ejs') %>